In [25]:
#import libraries

import pandas as pd
import kagglehub
import os

pd.set_option("display.max_columns", None)

In [17]:
#establish path to kaggle data

# Download latest version
path = kagglehub.dataset_download("dansbecker/melbourne-housing-snapshot")

print(os.listdir(path))

['melb_data.csv']

In [ ]:
#import in melbourne data

melbourne_file_path = path+'/melb_data.csv'

df_mel = pd.read_csv(melbourne_file_path, dtype=str)

In [27]:
df_mel.columns = df_mel.columns.str.lower()
df_mel.columns

#postcode is corrupted because it appears as a number
#there are nulls in the buildingarea, yearbuilt

list_nums = ['rooms', 'price', 'distance', 'postcode', 'bedroom2', 'bathroom', 'car',
       'landsize', 'buildingarea', 'yearbuilt',  'lattitude',
       'longtitude','propertycount']
list_dates = ['date']

df_mel[list_nums] = pd.to_numeric(df_mel[list_nums])
df_mel[list_dates] = pd.to_datetime(df_mel[list_dates])

df_mel.head()

TypeError: arg must be a list, tuple, 1-d array, or Series