In [25]:
#import libraries

import pandas as pd
import kagglehub
import os

pd.set_option("display.max_columns", None)

In [17]:
#establish path to kaggle data

# Download latest version
path = kagglehub.dataset_download("dansbecker/melbourne-housing-snapshot")

print(os.listdir(path))

['melb_data.csv']

In [35]:
#import in melbourne data

melbourne_file_path = path+'/melb_data.csv'

df_mel = pd.read_csv(melbourne_file_path, dtype=str)

In [36]:
df_mel.columns = df_mel.columns.str.lower()
df_mel.columns

#postcode is corrupted because it appears as a number
#there are nulls in the buildingarea, yearbuilt

list_nums = ['rooms', 'price', 'distance', 'postcode', 'bedroom2', 'bathroom', 'car',
       'landsize', 'buildingarea', 'yearbuilt',  'lattitude',
       'longtitude','propertycount']
list_dates = ['date']

df_mel[list_nums] = df_mel[list_nums].apply(pd.to_numeric)
#df_mel[list_dates] = df_mel[list_dates].apply(pd.to_datetime(format="%m/%d/%Y"))

df_mel['date'] = pd.to_datetime(df_mel['date'], format="%d/%m/%Y")

df_mel.head()

,suburb,address,rooms,type,price,method,sellerg,date,distance,postcode,bedroom2,bathroom,car,landsize,buildingarea,yearbuilt,councilarea,lattitude,longtitude,regionname,propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0