In [12]:
#import libraries

import pandas as pd
import kagglehub
import os

In [17]:
#establish path to kaggle data

# Download latest version
path = kagglehub.dataset_download("dansbecker/melbourne-housing-snapshot")

print(os.listdir(path))

['melb_data.csv']

In [ ]:
#import in melbourne data

melbourne_file_path = path+'/melb_data.csv'

df_mel = pd.read_csv(melbourne_file_path, dtype=str)

In [18]:
df_mel.describe()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
count,13580,13580,13580,13580,13580,13580,13580,13580,13580,13580,...,13580,13518,13580,7130,8205,12211,13580,13580,13580,13580
unique,314,13378,9,3,2204,5,268,58,202,198,...,9,11,1448,602,144,33,6503,7063,8,311
top,Reservoir,36 Aberfeldie St,3,h,1100000.0,S,Nelson,27/05/2017,11.2,3073.0,...,1.0,2.0,0.0,120.0,1970.0,Moreland,-37.8361,144.9966,Southern Metropolitan,21650.0
freq,359,3,5881,9449,113,9022,1565,473,739,359,...,7512,5591,1939,114,866,1163,21,17,4695,359